.bannercategories {
    background-image: url(https://i.pinimg.com/736x/62/b8/c9/62b8c903974d7ef7d13d04e41ae49386.jpg);
    padding: 280px 0;
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.bannercategories h1 {
  font-size: 70px;
  color: white;
}


.card { 
  border-radius: 1%;
}

.categorias a{
  font-size: 65px;
  color: white;
}

.categorias p {
  font-size: 23px;
  text-align: center;
}
 
.categorias img {
  height: 580px;
  background-image: fixed;
  background-size: cover;
  opacity: 0.5;
  border-radius: 1%;
}