// Import page-specific CSS files here.
@import "home";
@import "recycle";
@import "categories";
@import "about";
@import "detailproduct";



#formul{
	width:400px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#95D5B2
	;
}



