<div class="footer py-4 mt-5">
  <div class="container pt-5 pb-2"> 
  <div class="row">
      <div class="col-sm  m-b-30">
        <h2 class="pb-2" id="logonombre">Equipo Verde</h2>
        <ul class="list-unstyled>
          <li class="mb-2"><a href="/about">Sobre Nosotros</a></li>
          <li class="mb-2"><a href="/contact">Contacto</a></li>
        </ul>
        <br>        
      </div>

      <div class="iconos col-sm m-b-30">
        <h4 class="pb-3">Conecta</h4>
        <a href="https://m.facebook.com"><i class="fab fa-fw fa-facebook-f fa-2x pr-4"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-fw fa-twitter fa-2x"></i></a>
        <a href="https://instagram.com/"><i class="fab fa-fw fa-instagram fa-2x pl-4"></i></a>
      </div>

       <div class="col-sm  m-b-30">
        <h4 class="pb-2">Información</h4>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/about">Términos y Condiciones</a></li>
          <li class="mb-2"><a href="/about">Políticas de Cookies</a></li>
        </ul>
      </div>
  </div>
</div>
  <p class="letrabajo small text-muted d-none d-sm-none d-md-block">Copyright © 2021. GrupoVerde Todos los derechos reservados</p>
</div>

