<div class="banner3">
   <div class="container d-flex">
     <div class="left">
        <h1>Entregamos productos sustentables<h1>
        <h1>cuidando el medio ambiente. </h1>
     </div>
    <div class="right">
      <div class="text-right d-none d-sm-block d-md">
            <h2><strong> Reciclamos</strong></h2>
            <h4>          Los residuos plasticos pet</h4>
            <h4>          para utilizarlos de materias primas. </strong> </h4>
            <h2><strong> Fabricamos </strong></h2>
            <h4>          Bajo el modelo de economia circular. </h4>
            <h2><strong> Innovamos </strong></h2>
            <h4>          En el diseño y en nuestro procesos de producción. </h4>
      </div> 
    </div>
 </div>
</div>
<div class="card-body">
        <h3 class="card-title-center"><strong>¿Porque elegirnos?</strong></h3>
        <br>
        <br>
        <br>
        <p class="card-subtitle mb-5 text-muted">Actualmente, las empresas dedicadas a dar soluciones a los problemas medioambientales son pocas, pero van en aumento, nosotros queremos ser parte de quienes buscan crear nuevos proyectos que colaboren con la disminución de residuos plásticos que dañan nuestras playas, parques y áreas verdes  con esto en mente quisimos darle un nuevo uso a los residuos que obtuvimos en el proceso de reciclaje y elaboramos productos decorativos para crear espacio únicos en tu hogar.
        Cada producto ha sido creado pensando en un diseño personalizado y único que permita decorar los hogares de quienes nos eligen, al mismo tiempo en que ofrecemos un producto con historia, dándole una segunda oportunidad a los residuos que contaminan el medio ambiente.
        
</p>
        <br>
        <h5 class="card-text"> <em> Ayudanos a descontaminar nuestras areas verdes para crear un mundo mucho mas sustentable y limpio.</em> </h5>
        <br>
  <%= link_to categories_path do %>
    <div class="btn btn-success">
      Volver
    </div>
  <% end %>
</div>
