<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="bannerContact">
    <div class="container-fluid">
      <h2 class="text-center" id="titulo">Contact</h2>
    </div>
    
</div>

<div class="container mt-5 text-center">
  <div class="card-product">

  
  <form method="#" id="formul" action="#">
<! –– <input type="text" name="recipient" value="">
<! –– <input type="hidden" name="subject" value="Asunto del Email">
<! –– <input type="hidden" name="redirect" value="#">
<h2 class="text-center">Consultas:</h2><br />

your name: <br />
<input type="text" name="name" id="nombre"  size="20"><br />
your email:<br />


<input type="text" name="email" id ="correo" size="20"><br />
your message:<br />


<textarea id="mensaje" class="input" name="message" rows="7" cols="30"></textarea><br />


<button onclick="#" id="boton1">enviar</button>

<script>
var nombre1 = document.getElementById('nombre').value;
var correo1 = document.getElementById('correo').value;
var mensaje1 = document.getElementById('mensaje').value;

document.getElementById('boton1').onclick = function(){

    alert("El mensaje fue enviado correctamente!");

}
</script>
</form>

      
      <iframe width="560" height="315" src="https://www.chile-labs.cl/util/videos/video_recicla.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    
  </div>
</div>
</body>
