<div class="bannerhome">
    <div class="container-fluid">
      <h2 class="text-center" id="titulo">Diseña Tu Hogar y Contribuye Con el Medio Ambiente</h2>
    </div>
    <div class="text-center">
      <a href="localhost:3000/categories" class="btn btn-success btn-lg mt-5" role="button" data-bs-toggle="button">Productos</a>
    </div>
</div>
<div class="container mt-5">
  <div class="card-product">
    <img src="https://www.cualestuhuella.cl/files/60abdee72bfd0_890x533.jpg" class="img-fluid"/>
    <div class="card-product-infos">
      <h2 class="pb-4">Qué hacemos</h2>
      <p>Somos una empresa dedicada a la elaboración de productos a partir de envases plásticos, transformando tu hogar sin dañar el planeta. 
Actualmente ofrecemos pastelones sustentables con distintos diseños y maceteros decorativos. 
Nuestra meta es potenciar el modelo de economía circular reutilizando el plástico que día a día contamina nuestro planeta.</p>
    </div>
  </div>
</div>

