<div class="banner4" style="background-image: linear-gradient(rgba(0,0,0,0.125),rgba(0,0,0,0.125)), url(https://www.chile-labs.cl/util/heroku-img/Recicla.jpg);">
</div>
<div class="container mb-5 py-4">
 <div class="row justify-content-center">
   <div class="card" style="width: 30rem;">
     <div class="card-body">
       <h5 class="card-title-center">¿Quieres Reciclar?</h5>
       <h6 class="card-subtitle mb-2 text-muted">Ayudanos a recolectar</h6>
       <p class="card-text"id="recycle">Si quieres ayudarnos a recolectar el plástico que necesitamos para crear nuestros productos, acércate a los puntos de reciclaje de la ciudad.</p>
       <a class="btn btn-flat" href="#">Volver</a>
     </div>
   </div>
   <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d52809.482346452045!2d-70.7788905136631!3d-34.18233113551484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spuntos%20reciclaje!5e0!3m2!1ses-419!2scl!4v1631108511380!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
 </div>
</div>