.footer {
  background-color: white;
}

.footer ul {
  list-style: none;
}

.footer a {
  text-decoration: none;
  --bs-text-opacity: 1;
  color: #6c757d!important;
}

#logonombre {
  color: #025042;
}
.letrabajo {
  padding-left: 7.5rem;
}
